#My-projects-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d1f750feccaa5e8f5943723ae144f0c&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 45px;
    color: black;
    overflow: auto;
}
#My-projects-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}
#My-projects-line-item-div {
    width: 32vmax;
    padding: 1%;
    padding-top: 0px;
}
#Projects-card-img {
    height: 200px;
}
#Projects-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 7px;
    padding-bottom: 0px;
    font-size: 5vmin;
}
#Projects-cards-modal-button {
    padding: 0px;
    margin: 0px;
    color: black;
    width: 100%;
}
#Projects-cards-modal-button:hover {
    transform: rotate(1deg);
    opacity: 0.8;
}
.Projects-modal-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Projects-modal-image {
    max-width: 100%;
    margin: 0px;
    padding-bottom: 10px;
    max-height: 80vh;
}
#Projects-modal-tech-links {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.Projects-modal-tech-link {
    padding: 4px;
    margin: 4px;
    text-decoration: none;
    list-style-type: none;
    border: 2px solid red;
}
.More-info-icon {
    position: relative;
    color: #006dcc;
    opacity: 0.9;
}