#Header {  
    position: fixed;
    width: 100%;
    z-index: 5;
}
#Links-list-div{
    display: flex;
    justify-content: center;
    width: 100%;
}
#Links-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 11px;
    margin: 0px;
}
#Navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#Nav-list-item {
    display: flex;
    font-weight: 900;
    font-size: calc(16px + (24 - 16) * (100vw - 320)/(1024 - 320));
    text-decoration: none;
    list-style-type: none;
    color: white;
}
#Nav-list-item:hover {
    color: black;
}
#List-item {
    padding-left: 5px;
}
.NavBar-icon {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    font-size: 20px;
}