#Timeline-div {
    display: flex;
    flex-direction: column;
}
#Timeline-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
#Timeline-line-item-div {
    width: 34%;
}
#Timeline-card-img {
    height: 200px;
}
#Timeline-card-content {
    margin: 0px;
    padding: 7px;
    font-size: 20px;
}
/* #Border-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50vw;
    height: 150%;
    position: absolute;
    z-index: -1;
    background-color: blanchedalmond;
}
#Left {
    width: 10%;
    border-right: 2px black solid;
}
#Right {
    width: 10%;
    border-left: 2px black solid;
} */