#Timeline-div {
    display: flex;
    flex-direction: column;
    width: 80%;
}
#Timeline-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
#Timeline-line-item-div {
    width: 34%;
}
#Timeline-card-img {
    height: 350px;
}
#Timeline-card-content {
    margin: 0px;
    padding: 7px;
    font-size: 20px;
}
