#Likes-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}
#Likes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}
#Likes-line-item-div {
    width: 23%;
    margin-top: 5vh;
}
#Likes-line-item-div:hover {
    transform: rotate(359deg);
}
#Likes-card-img {
    height: 200px;
}
#Likes-card-content {
    margin: 0px;
    padding: 7px;
    font-size: 20px;
}