@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Permanent+Marker');
.App {
  height: 100vh;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b73970e97b923e72be9355cb15099091&auto=format&fit=crop&w=947&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color: white;
}
a:hover {
  color: black;
}
.List-item {
  text-decoration: none;
  list-style-type: none;
}
.Card-container-shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, .95);
}
.Card-container-inset {
  border: 1px groove rgba(0, 0, 0, 0.15);
}
.Green-background {
  background-color: #00cc33;
  opacity: 0.98;
}
.Image {
  height: 100%;
  width: 95%;
  object-fit: cover;
  margin-top: 5px;
}
.Margin-bottom {
  margin-bottom: 4vh;
}
.nanumFont {
  font-family: 'Nanum Pen Script';
}
.markerFont {
  font-family: 'Permanent Marker';
}
.Fifty-percent-width {
  width: 45vw;
}
.Left {
  padding-bottom: 20vh;
  transform: rotate(355deg);
  z-index: -1;
}
.Right {
  padding-top: 20vh;
  transform: rotate(13deg);
  z-index: -1;
}